/**
 * @Author: Socola
 * @Email: TokenTien@gmail.com
 * @Date:   2018-02-01 19:58:09
 * @Last Modified by:   Socola
 * @Last Modified time: 2018-03-08 21:45:01
 */

body {
}
h3{
	padding-left: 10px;
}
#app {
	margin: auto;
	width: 350px;
	overflow: hidden;
	background: #EEEAEA;
}

#app .item{
	color: black;
	text-decoration: none;
	padding: 10px;
	display: block;
	margin: 0px;
}

#app .item:hover {
	background: #ffffff;
}